
%padding {
    padding: 2rem;
}

%features {
    h2 {
        font-size: 2.2rem;
        margin: 1rem 0;
    }

    p {
        opacity: .7;
        margin: .5rem 0;
    }
}

%h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

%i {

        font-size: 2.4rem;
        display: block;
        margin: .5rem 0 2.5rem;
    
}

.sm-header {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
     grid-auto-rows: minmax(280px, auto);

     
    .item1 {
        grid-column: 1 / 3;
        grid-row: 1 / 4;
        background-size: cover;
        
         position: relative;
        h1 {
            font-size: 2rem;
            padding-top: 1.5rem;
            font-weight: 500;
            position: absolute;
            left: 22%;
            color: $text-color;
        }
    } 

    .item2 {
        @extend %padding;
        @extend %features;
        h2 {
            font-size: 2.5rem;
        }
        color: $text-color;
        grid-column: 3 / 5;
        grid-row: 1 / 4;
        

        background-color: $tertiary;
        .header {
          
             
            ul {
                
                             
                    li 
                        {
                        margin-right: 2rem;
                        // background-color: red;
                        a {
                            &.active {
                                color: orange;
                            }
                            font-size: 1.1rem;
                            color: #272727;
                        
                            }
                        }
                }
        }

        div {
        //    padding: 7rem 0 9rem;
            // background-color: yellow;
            height: 80%;
            display: grid;
            place-content: center center;
            span {
                color: $black;
                font-weight: 500;
            }
            a {
                width: 150px;
                text-align: center;
            }
        }
    }

    .item3 {
        grid-column: 1 / 3;
        grid-row: 4 / span 1;
        @extend %padding;
        @extend %features;

        h5 {
            color: $orange;
            margin-bottom: 2rem;
        }

    }

    .item4 {
        grid-column: 3 / 4;
        grid-row: 4 / span 1;
        display: grid;

        .img-container {
            align-self: stretch;
            img {
                object-fit: cover;
                height: 100%;
            }
            
        }

    }

    .item5 {
        grid-column: 4 / 5;
        grid-row: 4 / span 1;
        background-color: $secondary;
        @extend %padding;
        @extend %features;
       
        h2 {
            color: $textWhite;
        }

        p {
            color: $textWhite;
        }

        div {
            margin-bottom: .3rem;

            label {
                color: black;
            }
            span {
                color: $textWhite;
                
            }

            progress {
                &.form-control {
                    display: block;
                    width: 100%;
                    
                }
                
            }
            
            
        }
    }

    .item6 {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
        background-color: $secondary;
        @extend %padding;
        color: $textWhite;
        display: grid;
        place-content: center center;

        
        i {
            @extend %i;
        }

        h4 {
            @extend %h4;
            
        }
    }

    .item7 {
        grid-column: 2 / span 1;
        grid-row: 5 / span 1;
        background-color: $primary;

        @extend %padding;
        color: $textWhite;
        display: grid;
        place-content: center center;

        
        i {
            @extend %i;
        }

        h4 {
            @extend %h4;
            
        }
    }

    .item8 {
        grid-column: 3 / span 1;
        grid-row: 5 / span 1;
        background-color: $black;
        @extend %padding;
        color: $textWhite;
        display: grid;
        place-content: center center;

        
        i {
            @extend %i;
        }

        h4 {
            @extend %h4;
            
        }
    }

    .item9 {
        grid-column: 4 / span 1;
        grid-row: 5 / span 1;
        @extend %padding;
        display: grid;
        place-content: center center;

        i {
            @extend %i;
        }

        h4 {
            @extend %h4;
            
        }
    }

    .item10 {
        grid-column: 1 / 3;
       grid-row: 6 / span 1;

        background: url("/assets/media/experience-img.jpg") center center no-repeat;
        background-size: cover;
        
    }

    .item11 {
        grid-column: 3 / 5;
        grid-row: 6 / span 1;
        background-color: $primary;
        @extend %padding;
        @extend %features;
        color: $textWhite;

        .mini-container {
            margin-top: 1.5rem;
            i {
                font-size: 2rem;
                margin-right: 1rem;
            }

            div {
                align-self: flex-start;
                span {
                    color: blue;
                }
            }
        }
       
    }

    .item12 {
        grid-column: 1 / 3;
        grid-row: 7 / span 1;
        background-color: $secondary;
        @extend %padding;
        @extend %features;
        color: $textWhite;
        .mini-container {
            margin-top: 1.5rem;
            i {
                font-size: 2rem;
                margin-right: 1rem;
            }

            div {
                align-self: flex-start;
                span {
                    color: darkcyan;
                }
            }
        }
    }

    .item13 {
        grid-column: 3 / 5;
        grid-row: 7 / span 1;

        background: url("/assets/media/education-img.jpg") center center no-repeat;
        background-size: cover;
    }

    .item14 {
        grid-column: 1 / 3;
        grid-row: 8 / span 2;
        background-color: $primary;
        color: $textWhite;
        // padding: 2rem 4rem;
        @extend %padding;
        @extend %features;

        .form {
            
            margin-top: 3rem;
            // background-color: yellow;
            padding: 1rem;
            .input-control {
                display: block;
                outline: 0;
                border: 0;
                margin: 1rem;
                width: 90%;
                padding: 1rem .75rem;
                background-color: $primary;
                border-bottom: 2px solid yellow;
                color: $textWhite;
                font-size: 1.2rem;
                
            }
            ::placeholder {
                color: $textWhite;
            }

            

        }
    }

    .item15 {
        grid-column: 3 / 4;
        grid-row: 8 / span 2;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    .item16 {
        grid-column: 4 / 5;
        grid-row: 8 / span 2;
        color: $textWhite;
        background-color: $black;
        padding: 3rem 2rem;
        
        h4 {
            font-size: 1.7rem;
            margin-bottom: .8rem;
        }

        address {
            margin-bottom: 2.4rem;
        }

        ul > li {
            margin: 1.2rem 0;
            &.yellow {
                color: yellow;
            }
            i {
                margin-right: .7rem;
                color: $textWhite;
            }
        }

    }

    .item17 {
        grid-column: 1 / 5;
        grid-row: 10 / span 2;
        padding: 2rem;
        background-color: $primary;
        // place-content: center center;
        display: grid;
        place-items: center center;

}

    .item18 {
        grid-column:  1 / 5;
        grid-row: 12 / span 1;
        display: grid;
        place-content: center center;
        small {
            span {
                color: $orange;
            }

        }
            ul {
                margin-top: 2.3rem; 
                justify-self: center;
                li {
                    margin-right: 2.5rem;
                    a {
                        color: $text-color;
                        font-size: 1.1rem;
                    }
                }
            }
    }

}
